.bg-main, .btn-primary {
    background-color:$accent-color;
    color:$primary-color-text;
}

.input-field {
    color: #fff;
}

textarea, input, h4 {
    color: #fff;
}

input[type=text] + label, input[type=password] + label,
 input[type=email ] + label,textarea +label{
    color:#fff;
}
